body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #434455;
}

ul {
  list-style-type: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-navigation-list a {
  font-weight: 500;
  color: #2e2f42;
}

.header-navigation-list a:hover,
.header-navigation-list a:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.address-contacts a {
  color: #434455;
}

.address-contacts a:hover,
.address-contacts a:focus {
  color: #404bbf;
}

.baner {
  background-color: #2e2f42;
}

.baner-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  color: white;
}

.baner-order-button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.baner-order-button:hover,
.baner-order-button:focus {
  background: #404bbf;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-list {
  background-color: #ffffff;
}

.advantages-item-title,
.our-team-item-title,
.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-item-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.main-footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
